.barra{
    width: 500px;
    height:40px;
    background-color: #cccccc;
    margin-top:20px;
    border-radius:100px;
}
.progreso-10, .progreso-25, .progreso-75, .progreso-90{
    height:40px;
    background-color:rgb(215, 243, 210);
    border-radius:100px;
}
.progreso-10{
    width:10%;
}
.progreso-25{
    width:25%;
}
.progreso-75{
    width:75%;
}
.progreso-90{
    width:90%;
}